.cate-top {
    margin-bottom: 25px;
    &__title {
        text-align: center;
        font-size: 25px;
        font-family: "Helvetical-Regular";
        margin-bottom: 15px;
    }

    &__desc {
        text-align: center;
        font-size: 18px;
        font-family: "Helvetical-Regular";
        letter-spacing: 1px;
    }
}

.cate-filter {
    display: none;
}

.cate-product {
    &-actions__switch,
    &-actions__count {
        display: none;
    }

    &-actions__sort {
        margin-bottom: 20px;
        text-align: right;
    }

    &-actions__sort-text {
        font-size: 14px;
        font-family: "Helvetical-Thin";
        display: inline-block;
    }

    &-actions__sort-select {
        position: relative;
        display: inline-block;

        &:after {
            content: "\e92f";
            font-family: "icomoon";
            position: absolute;
            top: 7px;
            right: 10px;
        }

        select {
            padding: 5px 30px 5px 5px;
            font-family: "Helvetical-Medium";
            font-size: 14px;
            outline: none;
            border: none;
            box-shadow: none;
            background-color: transparent;
            background-image: none;
            -webkit-appearance: none;
            -moz-appearance: none;
                    appearance: none;
            cursor: pointer;
        }

        select::-ms-expand {
            display: none;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__item {
        a {
            display: block;
            height: 160px;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: opacity .4s;
            }
        }
    }

    &__img-back {
        opacity: 0;
    }

    &__item {
        width: 48%;
        margin-bottom: 20px
    }

    &__content {
        margin-top: 10px;
        color: $black;
    }

    &__name {
        font-family: "Helvetical-Medium";
        display: block;
        margin-bottom: 5px;
        text-align: center;
        font-size: 14px;
    }

    &__price {
        font-family: "Helvetical-Regular";
        display: block;
        text-align: center;
        font-size: 14px;
    }

    &__paginations {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 10px 0 30px;
    }

    &__pagination {
        margin: 0 5px;

        a {
            display: inline-block;
            color: $black-1;
            font-size: 14px;
            font-family: "Helvetical-Regular";
            letter-spacing: 1px;

            &:hover {
                color: #000;
            }
        }
    }

    &__pagination--active {
        a {
            color: #000;
        }
    }
}

@media screen and (min-width: 768px) {
    .cate-top {
        margin-top: 40px;
        &__title {
            font-size: 30px;
        }
        &__desc {
            max-width: 666px;
            margin: 0 auto;
        }
    }
    
    .cate-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .cate-filter {
        display: block;
        width: 20%;
        &__items {
            border-top: 1px solid $gray-3;
        }
        &__item {
            padding: 20px 30px;
            border-bottom: 1px solid $gray-3;
            position: relative;
            i {
                position: absolute;
                right: 10px;
                top: 18px;
                font-size: 18px;
                transition-duration: .5s;
                color: #888888;
            }
        }
        &__item--active {
            .cate-filter__sub-items {
                display: block;
            }
            i {
                transform: rotate(90deg);
            }
        }
        &__sub-title {
            text-transform: uppercase;
            font-family: "Helvetical-Medium";
            display: block;
            cursor: pointer;
        }
        &__sub-items {
            margin-top: 15px;
            display: none;
        }
        &__sub-item {
            font-family: "Helvetical-Thin";
            margin-bottom: 5px;
            a {
                color: $black;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
    
    .cate-product {
        width: 77%;
        &-actions {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &-actions__switch {
            display: inline-block;
        }
        &-actions__switch-label {
            display: inline-block;
            position: relative;
            width: 30px;
            height: 15px;
            input {
                display: none;
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $black;
                -webkit-transition: .4s;
                transition: .4s;
                &:before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    left: 1px;
                    top: 0;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                &.round {
                    border-radius: 35px;
                    &:before {
                        border-radius: 50%;
                    }
                }
            }
            input:checked+.slider {
                background-color: $black;
            }
            input:checked+.slider:before {
                -webkit-transform: translateX(14px);
                -ms-transform: translateX(14px);
                transform: translateX(14px);
            }
        }
        &-actions__count {
            display: inline-block;
            font-family: "Helvetical-Thin";
            font-size: 14px;
            
            span {
                display: inline-block;
                margin: 0 3px;
            }
        }
        &-actions__sort-select {
            select {
                padding-right: 30px;
            }
            &:after {
                top: 7px;
            }
        }
        &__item {
            width: 32%;
        }

        &__items--room-view {
            .cate-product__img-back {
                opacity: 1;
            }

            .cate-product__img-front {
                opacity: 0;
            }
        }
    }
}

@media only screen and (min-width:1200px) {
    .cate-top {
        margin-bottom: 50px;
    
        &__desc {
            margin-left: 20%;
        }
    }
    
    .cate-filter {
        width: 17%;
    }
    
    .cate-product {
        width: 80%;
        &__item {
            width: 31.5%;
            margin-bottom: 45px;
            a {
                height: 300px;
                &:hover {
                    .cate-product__img-front {
                        opacity: 0;
                    }
    
                    .cate-product__img-back {
                        opacity: 1;
                    }
                }
            }
        }
        &__content {
            margin-top: 15px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    
        &__name {
            font-size: 18px;
        }
    
        &_price {
            font-size: 16px;
        }
    }
}