.detail-menus {
    display: none;
}

.detail-menu-wrap {
    margin: 20px 0 15px;
}

.breadcrumb {
    display: flex;
    flex-wrap: nowrap;

    li {
        position: relative;
        margin: 0 5px;

        a {
            color: $black;
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            font-family: "Helvetical-Thin";
        }

        span {
            color: #a5a5a5;
            font-family: "Helvetical-Thin";
        }

        &:after {
            content: "/";
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            color: #a5a5a5;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

}

.main-slider {
    position: relative;
    margin-bottom: 30px;

    &__content {
        position: absolute;
        background: rgba(163, 171, 164, .8);
        padding: 15px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    &__desc,
    &__infors,
    &__discount-prices,
    &__options,
    &__note {
        display: none;
    }

    &__name {
        color: $white;
        font-family: "Helvetical-Thin";
        letter-spacing: 1px;
        font-size: 20px;
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    &__real-prices {
        color: $black;
        font-family: "Helvetical-Medium";
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
    }

    &__add-to-cart {
        background: #05728c;
        color: $white;
        font-family: "Helvetical-Thin";
        text-transform: uppercase;
        display: block;
        padding: 10px 0;
        text-align: center;
        letter-spacing: 1px;
    }

    &__view-photo {
       display: none;
    }
}

.main-slider-overlay {
    display: none;
}

.main-slider-main {
    &__item {
        height: 300px;
        overflow: hidden;

        img {
            height: auto;
        }
    }
}

.main-slider-sub {
    display: none;
}

.product-details {
    background: #fdfdf9;
    padding: 15px 0;
    margin-bottom: 20px;

    &-block {
        border-bottom: 1px dotted $gray;
        padding: 15px 0;

        &:last-child {
            border: 0;
        }
    }

    &__title {
        text-align: center;
        color: $black;
        font-family: "Helvetical-Medium";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__short-desc {
        font-family: "Helvetical-Thin";
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__sub-title {
        font-family: "Helvetical-Medium";
        letter-spacing: 1px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;

        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 10px;
            height: 2px;
            background: #a0a8a1;
            margin-left: 10px;
        }
    }
}

.product-details-promos {
    &__item {
        margin-bottom: 30px;
    }

    &__name {
        font-family: "Helvetical-Medium";
        letter-spacing: 0.5px;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        margin: 15px 0;
        color: $black;
    }

    &__desc {
        font-family: "Helvetical-Regular";
        letter-spacing: 1px;

    }
}

.product-owners {
    padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 25px;

    &__title {
        text-align: center;
        font-family: "Helvetical-Medium";
        letter-spacing: 1px;
        font-size: 16px;
        margin-bottom: 15px;
    }

    &__short-desc {
        font-family: "Helvetical-Thin";
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 15px;
    }

    &__items {
        position: relative;

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            background: transparent;
            border: none;

            &:before {
                font-size: 20px;
            }
        }

        .slick-prev {
            left: 10px;

            &:before {
                content: "\e932";
                font-family: "icomoon";
            }
        }

        .slick-next {
            right: 10px;

            &:before {
                content: "\e933";
                font-family: "icomoon";
            }
        }
    }
}

.product-more {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 25px;

    &:last-child {
        border-bottom: none;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .detail-menu-wrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .detail-menus {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    
    .detail-menu {
        margin: 0 10px;
    
        a {
            color: $black;
            font-family: "Helvetical-Thin";
            display: inline-block;
    
            &:hover {
                color: $orange;
            }
        }
    }
    
    .breadcrumb {
        li {
            a:hover {
                color: $orange;
            }
        }
    }

    .main-slider {
        &__view-photo {
            position: absolute;
            left: 5%;
            bottom: 120px;
            z-index: 12;
            display: inline-block;
            color: $white;
            background: #05728C;
            font-size: 13px;
            font-family: "Helvetical-Medium";
            padding: 10px 15px;
            border-radius: 2px;
            text-align: center;

            &:hover {
                background: $orange;
            }
        }
    }
    
    .main-slider-main {
        margin-bottom: 20px;
        &__item {
            height: 550px;
        }
    }
    
    .main-slider {
        &__content {
            top: 20px;
            bottom: auto;
            min-height: 500px;
            right: 30px;
            width: 300px;
            left: auto;
        }
    
        &__desc {
            display: block;
            color: $white;
            text-align: center;
            font-family: "Helvetical-Thin";
            letter-spacing: 1px;
            margin: 10px 0 20px;
        }
    
        &__infors {
            display: block;
        }
    
        &__infor {
            background: $white;
            padding: 13px;
            color: $gray;
            font-family: "Helvetical-Thin";
            letter-spacing: 1px;
            margin-bottom: 20px;
            font-size: 14px;
    
            span {
                color: $black;
            }
        }
    
        &__discount-prices {
            display: block;
            color: #e0e0e0;
            font-family: "Helvetical-Thin";
            letter-spacing: 1px;
            text-align: right;
            font-size: 13px;
            margin-bottom: 20px;
    
            del {
                display: inline-block;
                color: #004c42;
            }
        }
    
        &__options {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            margin: 25px 0;
        }
    
        &__option {
            border-bottom: 2px solid #4c766d;
    
            span {
                display: inline-block;
                color: $black;
                font-family: "Helvetical-Thin";
                letter-spacing: 1px;
                margin-bottom: 3px;
                font-size: 13px;
            }
        }
    
        &__note {
            display: block;
            color: $black;
            font-family: "Helvetical-Thin";
            letter-spacing: 1px;
            font-size: 12px;
            text-align: center;
    
            span {
                display: inline-block;
                color: #004c42;
            }
        }

        &__wrap-sub {
            position: relative;
            max-width: 650px;
            margin: 0 auto;
        }

        &__number {
            background: rgba(0, 0, 0, .5);
            position: absolute;
            width: 99px;
            height: 50px;
            padding-top: 20px;
            right: 0;
            top: 0;
            font-size: 26px;
            font-family: "Helvetical-Regular";
            color: $white;
            text-align: center;
            vertical-align: middle;
            z-index: 2;
            cursor: pointer;
        }
    }
    
    .main-slider-sub {
        display: block;
        position: relative;
    
        li {
            height: 70px;
            margin: 0 5px;
            overflow: hidden;
            cursor: pointer;
        }
    }

    .main-slider-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 50px;
        background: $white;
        left: 0;
        top: 0;
        z-index: 14;
        display: none;
    
        &__close {
            position: absolute;
            right: 20px;
            top: 20px;
            color: $black;
            font-size: 20px;
            font-family: "Helvetical-Medium";

            &:hover {
                color: $orange;
            }
        }
    }
    
    .main-slider-main-overlay {
        position: relative;
        margin-bottom: 30px;
    
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 13;
            padding: 0;
            border: 0;
            margin: 0;
            background: 0;
            width: 40px;
            height: 40px;
            text-align: center;
            outline: none;
            cursor: pointer;
    
            &:before {
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: $black;
            }

            &:hover {
                &:before {
                    color: $orange;
                }
            }
        }
    
        .slick-prev {
            font-size: 30px;
            left: 10px;
    
            &:before {
                content: "\e900";
            }
        }
    
        .slick-next {
            font-size: 30px;
            transform: rotate(180deg);
            right: 10px;
            margin-top: -30px;
    
            &:before {
                content: "\e900";
            }
        }
    }
    
    .main-slider-sub-overlay {
        position: relative;
    
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 13;
            padding: 0;
            border: 0;
            margin: 0;
            background: 0;
            width: 40px;
            height: 40px;
            text-align: center;
            outline: none;
            cursor: pointer;
    
            &:before {
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: $black;
            }

            &:hover {
                &:before {
                    color: $orange;
                }
            }
        }
    
        .slick-prev {
            font-size: 20px;
            left: -35px;
    
            &:before {
                content: "\e900";
            }
        }
    
        .slick-next {
            font-size: 20px;
            transform: rotate(180deg);
            right: -30px;
            margin-top: -23px;
    
            &:before {
                content: "\e900";
            }
        }
    }
    
    .product-details-promos {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    
        &__item {
            width: 48%;
        }
    }
    
    .product-owners {
        &__item {
            margin: 0 5px;
        }
    
        .slick-prev {
            left: -20px;
        }
    
        .slick-next {
            right: -20px;
        }
    }
    
    .product-more {
        .cate-product__item {
            width: 24%;
        }
    }
    
    .product-details__title {
        font-size: 25px;
    }
    
    .product-details__sub-title,
    .product-owners__title {
        font-size: 20px;
    }
}

@media only screen and (min-width:1200px) {
    .main-slider {
        &__content {
            right: 5%;
            width: 340px;
            padding: 25px 40px;
        }

        &__add-to-cart:hover {
            background: $orange;
        }
    }

    .main-slider-overlay {
        &__close {
            right: 30px;
            top: 30px;
        }
    }
    
    .product-owners__short-desc,
    .product-details__short-desc {
        max-width: 650px;
        margin: 0 auto 20px;
    }
    
    .product-details-block {
        padding: 30px 0;
    }
    
    .product-details {
        margin-bottom: 45px;
    }
    
    .product-owners {
        padding-bottom: 35px;
        margin-bottom: 45px;
    
        .product-owners__title {
            margin-bottom: 25px;
        }
    }
    
    .product-owners__title {
        margin-bottom: 45px;
    }
    
    .product-details-promos__name {
        margin: 25px 0;
    }
}