@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?l7gf8o');
  src:  url('../fonts/icomoon.eot?l7gf8o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?l7gf8o') format('truetype'),
    url('../fonts/icomoon.woff?l7gf8o') format('woff'),
    url('../fonts/icomoon.svg?l7gf8o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-back:before {
  content: "\e900";
}
.icon-icon-list:before {
  content: "\e901";
  color: #9e9e9e;
}
.icon-search-2:before {
  content: "\e902";
  color: #5c5c5c;
}
.icon-user:before {
  content: "\e903";
}
.icon-facebook-f-brands:before {
  content: "\e904";
}
.icon-icon-backtotop:before {
  content: "\e905";
}
.icon-uniE906:before {
  content: "\e906";
}
.icon-uniE907:before {
  content: "\e907";
}
.icon-icon-lock:before {
  content: "\e908";
}
.icon-instagram-brands:before {
  content: "\e909";
}
.icon-pinterest-p-brands:before {
  content: "\e92b";
}
.icon-youtube-brands:before {
  content: "\e92c";
}
.icon-cart:before {
  content: "\e92d";
}
.icon-caret-right-solid:before {
  content: "\e92e";
}
.icon-chevron-down-solid:before {
  content: "\e92f";
}
.icon-plus-solid:before {
  content: "\e930";
}
.icon-home-solid:before {
  content: "\e931";
}
.icon-chevron-left-solid:before {
  content: "\e932";
}
.icon-chevron-right-solid:before {
  content: "\e933";
}
.icon-user1:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
