@font-face {
	font-family: 'Helvetical-Regular';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetical-Medium';
    src: url('../fonts/HelveticaNeue Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetical-Bold';
    src: url('../fonts/Helvetica Neu Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetical-Black';
    src: url('../fonts/HelveticaNeue BlackCond.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetical-Thin';
    src: url('../fonts/HelveticaNeue Thin.ttf') format('truetype');
}