.footer {
    background: #a0a8a1;
    padding: 40px 25px 20px;
    margin: 0 -15px;
    color: $black-1;
    &-top {
        margin-bottom: 35px;

        img {
            width: 150px;
        }
    }
    &-content__newsletter {
        display: flex;
        flex-wrap: nowrap;
    }
    &-content__newsletter-icon {
        width: 64px;
        height: 64px;
        border: 1px solid $white;
        border-radius: 50%;
        margin-right: 20px;
        text-align: center;
        padding-top: 15px;

        img {
            width: 28px;
            display: inline-block;
        }
    }
    &-content__newsletter-text {
        font-family: "Helvetical-Medium";
        color: $black-1;
        margin-bottom: 10px;
        display: block;
    }
    &-content__newsletter-form {
        width: calc(100% - 85px);
        margin-bottom: 35px;
        form {
            background: $white;
            padding: 3px;
        }
    }
    &-content__newsletter-input {
        padding: 8px 12px;
        width: calc(100% - 65px);
        border: none;
        outline: none;
    }
    &-content__newsletter-button {
        background: #a0a8a1;
        color: $white;
        border: none;
        padding: 10px;
    }
    &-content__menus {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &-content__menu {
        width: 49%;
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-content__title {
        text-transform: uppercase;
        font-family: "Helvetical-Bold";
        margin-bottom: 15px;
        display: block;
    }
    &-content__sub-menu {
        margin-bottom: 5px;
        font-family: 'Helvetical-Thin';
        
        a {
            color: $black-1;
        }
    }
    &-content__social-text {
        display: block;
        text-align: center;
        font-family: "Helvetical-Medium";
        margin-bottom: 15px;
    }
    &-content__social {
        margin-bottom: 35px;
    }
    &-content__social-menus {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    &-content__social-menu {
        width: 25px;
        margin: 0 15px;
        i {
            font-size: 25px;
            color: $black-1;
        }
    }
    &-content__address-title {
        display: block;
        text-transform: uppercase;
        font-family: "Helvetical-Bold";
        margin-bottom: 20px;
    }
    &-content__address {
        text-align: center;
        margin-bottom: 30px;

        p {
            font-family: "Helvetical-Medium";
            margin-bottom: 10px;
        }
    }
    &-content__address-hotline {
        text-align: center;
        a {
            display: inline-block;
            color: $white;
        }
    }
    &-content__address-email {
        color: $black-1;
        font-family: "Helvetical-Medium";
    }
    &-content__safe {
        margin-bottom: 20px;
    }
    &-content__safe-items {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &-content__safe-item {
        display: flex;
        flex-wrap: nowrap;
        width: 49%;
    }
    &-content__safe-icon {
        margin-right: 10px;
        width: 20px;
        .icon {
            font-size: 25px;
        }
    }
    &-content__safe-desc {
        p {
            color: $white;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-family: "Helvetical-Thin";
        }
    }
    &-content__payments {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    &-content__payment {
        margin: 0 5px;
    }

    &-bottom {
        margin-top: 30px;
        p {
            text-align: center;
            font-family: "Helvetical-Medium";
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 20px 30px 10px;
        margin: 0;
    
        &-top {
            text-align: center;
            a {
                display: inline-block;
    
                img {
                    width: 130px;
                }
            }
        }
    
        &-content__newsletter-form {
            max-width: 240px;
        }
    
        
        &-content__menu {
            width: 33%;
        }
    
        &-content__safe-item {
            justify-content: center;
        }
    }
}

@media only screen and (min-width:1200px) {
    .footer {
        padding: 20px 55px 10px;
        
        &-content__social-menu {
            a {
                display: inline-block;
                &:hover {
                    i {
                        color: $white;
                    }
                }
            }
        }
    
        &-content__sub-menu {
            a {
                display: inline-block;
                &:hover {
                    color: $white;
                }
            }
        }
    
        &-content {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    
        &-content__left {
            width: 66%;
        }
    
        &-content__menu {
            width: 32%;
        }
    }
}