.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    &-phone {
        display: none;
    }
    &-actions__form,
    &-actions__user {
        display: none;
    }
    &-logo {
        img {
            width: 150px;
        }
    }
    &-hamburger {
        i {
            font-size: 25px;
            color: $black;

            &:before {
                color: $black;
            }
        }
    }
    &-actions__cart {
        i {
            font-size: 25px;
            color: $black;
        }
    }
}

.main-menu {
    position: fixed;
    background: #fff;
    width: 280px;
    left: 0;
    top: 0;
    height: 100%;
    padding: 30px 20px 70px;
    z-index: 2;
    opacity: 0;
    overflow-y: auto;
    transform: translate(-100%, 0);
    transition-duration: 0.3s;
    &.active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &__item {
        margin-bottom: 10px;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        position: relative;
        > a {
            color: $black;
            font-family: "Helvetical-Thin";
            font-size: 16px;
            text-transform: uppercase;
        }

        &:after {
            content: "\e92f";
            font-family: "icomoon";
            position: absolute;
            right: 10px;
            top: 10px;
            color: $black;
            transition-duration: .5s;
        }

        &.main-menu__item--no-child {
            &:after {
                display: none;
            }
        }

        &.main-menu__item--active {
            &:after {
                transform: rotate(180deg);
            }

            .main-menu__inner {
                display: block;
            }
        }
    }
    &-overlay {
        &.active {
            position: fixed;
            z-index: 1;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    &__sub-imgs {
        display: none;
    }

    &__inner {
        display: none;
    }

    &__sub-items {
        margin-top: 20px;
        padding-left: 20px;
    }

    &__sub-item {
        margin-bottom: 10px;

        a {
            font-size: 14px;
            font-family: "Helvetical-Thin";
            display: inline-block;
            color: $black;
        }
    }
}


@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
        
        &-wrap {
            position: relative;
        }
    
        &-logo {
            img {
                width: 180px;
            }
        }
        &-phone {
            display: flex;
            align-items: center;
        }
        &-phone__icon {
            width: 35px;
            margin-right: 10px;
        }
        &-phone__text {
            font-family: "Helvetical-Thin";
            p {
                margin-bottom: 7px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &-actions__form,
        &-actions__user {
            display: inline-block;
        }
        &-actions__user {
            display: inline-block;
            margin: 0 10px;
            i {
                font-size: 20px;
                color: $black;
            }
        }
        &-action__input-search {
            border: none;
            outline: none;
            padding: 5px 10px;
            max-width: 100px;
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
        }
        &-action__button-search {
            border: none;
            background: none;
            padding: 0;
            margin: 0;
            i {
                font-size: 20px;

                &:before {
                    color: $black;
                }
            }
        }
        &-actions__cart {
            i {
                font-size: 20px;
            }
        }
        &-hamburger {
            display: none;
        }
    }
    
    .main-menu {
        display: flex;
        max-width: 650px;
        margin: 20px auto;
        justify-content: space-around;
        position: static;
        opacity: 1;
        width: auto;
        height: auto;
        transform: translate(0, 0);
        padding: 0;
        overflow: visible;
        position: relative;
    
        &-overlay {
            // position: absolute;
            // left: 0;
            // top: 100%;
            // width: 100%;
            // height: 500px;
            // background: #989898;
            // z-index: 2;
        }
    
        &__item {
            border: none;
            z-index: 3;
    
            &:after {
                display: none;
            }
    
            a {
                text-transform: capitalize;
            }
        }
    
        &__inner {
            display: none;
        }
    
        &__sub-items {
            padding: 0;
            display: none;
        }
    }
}


@media only screen and (min-width:1200px) {
    .header {
        padding-top: 40px;
    }
    
    .main-menu {
        margin-bottom: 45px;
        &__item {
            &.active {
                a:after {
                    width: 100%;
                }
            }
        }
        a {
            font-size: 16px;
            display: inline-block;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 1px;
                background: $green;
                width: 0%;
                overflow: hidden;
                -webkit-transition: width .5s ease-in-out;
                -moz-transition: width .5s ease-in-out;
                -o-transition: width .5s ease-in-out;
                transition: width .5s ease-in-out;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}