
.banner {
    margin-bottom: 20px;

    &__items {
        position: relative;

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
            padding: 0;
            border: 0;
            margin: 0;
            background: 0;
            width: 40px;
            height: 40px;
            text-align: center;
            outline: none;

            &:before {
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: $white;
            }
        }

        .slick-prev {
            font-size: 30px;
            left: 10px;

            &:before {
                content: "\e900";
            }
        }

        .slick-next {
            font-size: 30px;
            transform: rotate(180deg);
            right: 10px;
            margin-top: -30px;

            &:before {
                content: "\e900";
            }
        }

        .slick-dots {
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
            display: flex;
            flex-wrap: nowrap;

            li {
                margin: 0 5px;
                text-indent: -9999px;
                border: 1px solid $white;
                width: 10px;
                height: 10px;
                border-radius: 50%;

                &.slick-active {
                    background: $white;
                }
            }
        }
    }

    &__item {
        position: relative;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        text-align: center;
    }
    &-content__discount {
        font-family: "Helvetical-Medium";
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
    }
    &-content__sub-title {
        font-family: "Helvetical-Bold";
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
    }
    &-content__link {
        display: inline-block;
        color: $black;
        background: $white;
        padding: 8px 15px;
        border-radius: 7px;
        font-family: "Helvetical-Thin";
    }
}

.banner-groups {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    &__item {
        width: 50%;
        position: relative;
        height: 200px;
        a {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: block;
            height: 100%;
        }
        span {
            position: absolute;
            color: $white;
            font-size: 16px;
            letter-spacing: 1.5px;
            font-family: "Helvetical-Medium";
            display: inline-block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.accessories {
    margin-bottom: 30px;
    &__title {
        color: $gray-1;
        font-size: 18px;
        text-align: center;
        font-family: "Helvetical-Bold";
        margin-bottom: 20px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 48%;
        margin-bottom: 50px;
        text-align: center;
        a {
            display: block;
        }
        
    }

    &__text {
        margin-top: 10px;
        color: $gray-1;
        font-size: 16px;
        display: inline-block;
        text-align: center;
        font-family: "Helvetical-Bold";
        position: relative;
    }

    &__img {
        height: 180px;
    }

    &__bg {
        display: block;
        height: 180px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.collection {
    margin-bottom: 30px;
    &__title {
        @extend .accessories__title;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__item {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        background-color: $gray-2;
        position: relative;

        &.new {
            position: relative;
            &:before {
                content: "New arrival";
                color: $black;
                font-family: "Helvetical-Thin";
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
    }
    a {
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            margin: 0 auto;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: opacity .4s;
        }

        &:hover {
            .collection__img-front {
                opacity: 0;
            }

            .collection__img-back {
                opacity: 1;
            }
        }
    }

    &__img-back {
        opacity: 0;
    }

    &__content {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
    &__content-item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 5px;
        span {
            font-family: "Helvetical-Thin";
            color: $black;
        }
    }
    &__content-name {
        font-family: "Helvetical-Bold" !important;
    }
    &__content-prices {
        font-family: "Helvetical-Medium" !important;
    }
}

.why-choice {
    &__title {
        @extend .accessories__title;
    }
    &__item {
        text-align: center;
        margin-bottom: 30px;
        img {
            width: 70px;
            display: inline-block;
            margin-bottom: 15px;
        }
    }
    &__name {
        font-family: "Helvetical-Medium";
        font-size: 16px;
        margin-bottom: 10px;
        color: $black-2;
    }
    &__desc {
        font-family: "Helvetical-Thin";
        color: $black-2;
    }
}

@media screen and (min-width: 768px) {
    .banner {
        margin-bottom: 55px;

        &__item {
            height: 500px;
        }
    }
    
    .banner-groups {
        margin-bottom: 60px;
        &__item {
            width: 25%;
            height: 250px;
            &:first-child,
            &:last-child {
                width: 50%;
            }
            span {
                font-size: 20px;
            }
        }
    }
    
    .accessories {
        margin-bottom: 60px;
        &__title {
            margin-bottom: 40px;
        }
        &__item {
            width: 23%;
        }
    }
    
    .collection {
        margin-bottom: 60px;
        &__item {
            width: calc((100% / 2) - 10px);
            height: 300px;
            &:nth-child(4) {
                order: 5;
                width: 100%;
            }
            &.new {
                &:before {
                    left: 20px;
                    top: 20px;
                }
            }
        }
        &__content {
            bottom: 20px;
        }
    }
    
    .why-choice {
        &__items {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
        &__item {
            width: 30%;
        }
    }
}

@media only screen and (min-width:1200px) {
    .banner {
        &__item {
            height: 650px;
        }
        
        &__items {
            .slick-arrow {
                cursor: pointer;
                transition-duration: .2s;

                &:hover {
                    &::before {
                        color: $orange;
                    }
                }
            }

            .slick-dots {
                bottom: 20px;
                
                li {
                    width: 12px;
                    height: 12px;
                    transition-duration: .2s;
                    cursor: pointer;

                    &:hover {
                        background: $white;
                    }
                }
            }
        }
    
        &-content__discount {
            font-size: 30px;
        }
    
        &-content__sub-title {
            font-size: 26px;
        }
    
        &-content__link {
            padding: 8px 25px;
            font-size: 16px;

            &:hover {
                background: $orange;
                color: $white;
            }
        }
    }
    
    .banner-groups {
        &__item {
            height: 370px;
    
            span {
                font-size: 25px;
            }
        }
    }
    
    .accessories {
        &__title {
            font-size: 30px;
        }
    
        &__item {
            &:hover {
                .accessories__text:after {
                    width: 100%;
                }
            }
        }

        &__text {
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 1px;
                background: #CDCDCD;
                width: 0%;
                overflow: hidden;
                -webkit-transition: width .5s ease-in-out;
                -moz-transition: width .5s ease-in-out;
                -o-transition: width .5s ease-in-out;
                transition: width .5s ease-in-out;
            }
        }

        &__img {
            overflow: hidden;
        }

        &__bg {
            transition-duration: .5s;

            &:hover {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
    
    .collection {
        &__item {
            height: 390px;
            width: calc((100% / 3) - 10px);
            
            &:nth-child(4) {
                order: 0;
                width: calc(((100% / 3) * 2) - 10px);
            }
            
            &:nth-child(4),
            &:nth-child(5) {
                height: 470px;
            }
        }
    }
    
    .why-choice {
        margin-bottom: 25px;
    }
}