body {
    font-size: 14px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

$white: #fff;
$black: #1b1b1b;
$black-1: #333333;
$black-2: #454545;
$gray: #a0a8a1;
$gray-1: #454545;
$gray-2: #f5f5f5;
$gray-3: #dedede;
$green: #004c42;
$green-1: #396b62;
$orange: #e65902;

@font-face {
    font-family: "font_test";
    src:url("../fonts/HelveticaNeue.ttf") format(‘truetype’);
    font-weight:normal;
    font-style:normal;
}