@charset 'utf-8';

@import 'reset';
@import 'font';
@import 'variable';
@import 'slick';
@import 'font-icon';
@import 'header';
@import 'home';
@import 'footer';
@import 'category';
@import 'detail';


@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media only screen and (min-width:1200px){
    .container {
        width: 1230px;
    }
}